html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

form {
    flex: 1;
}

#formMaster {
    padding-bottom: 3rem;
}

footer {
    height: 10rem;
    text-align: center;
}

.despegarBarra {
    margin-top: 3rem;
}

.titulo {
    font-size: 24px;
    font-weight: 500;
    color: #333;
    margin-bottom: 20px;
}