html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

form {
    flex: 1;
}

#formMaster {
    padding-bottom: 3rem;
}

footer {
    height: 10rem;
    text-align: center;
}

.despegarBarra {
    margin-top: 3rem;
}

.titulo {
    font-size: 24px;
    font-weight: 500;
    color: #333;
    margin-bottom: 20px;
}


.error-input {
    border-color: red;
    background-color: #f8d7da;
}



.welcome-message {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}


.success-message {
    color: green;
    font-size: 40px;
    font-weight: bold;
}


.error-message {
    color: red;
    font-size: 1.4em;
    font-weight: bold;
}

.custom-bg-darker {
    background-color: #d6d8db;  
    color: #212529;     
}

.preview-image {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block; /* Asegura que la imagen se muestre */
}





.navbar .profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;     
    object-fit: cover;  
    border: 2px solid #ffffff;  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);   
    margin-right: 8px;  
    transition: transform 0.2s ease-in-out;     
}

    .navbar .profile-image:hover {
        transform: scale(1.1);  
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);   
    }

.navbar .dropdown-menu-dark {
    background-color: #343a40;  
    border-radius: 8px; 
    border: 1px solid #444;     
}

.disabled-checkbox {
    pointer-events: none;
    opacity: 0.5;
}